PORT = 8000
MONGODB_URI = mongodb+srv://nikhilverma0427:MAxAiehTkDl2dJqP@cluster0.ca6ay.mongodb.net
CORS_ORIGIN =*
Access_Token_Secret = 12345678
Access_Token_EXPIRY= 1d
REFRESH_TOKEN_SECRET= 12345789
REFRESH_Token_EXPIRY= 10d